* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
body {
  // background: rgb(136, 244, 255);
  // background: linear-gradient(
  //   140deg,
  //   rgba(136, 244, 255, 1) 0%,
  //   rgba(244, 134, 180, 1) 36%,
  //   rgba(89, 103, 224, 1) 100%
  // );
  width: 100%;
  min-height: 100%;
  div.ball1 {
    position: absolute;
    width: 25vw;
    top: 50px;
    left: 20px;
    opacity: 0.75;

    animation-name: scale1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  div.ball2 {
    z-index: -3;
    position: absolute;
    width: 15vw;
    top: 800px;
    right: 0px;
    opacity: 0.75;

    animation-name: scale2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  div.ball3 {
    z-index: -3;
    position: absolute;
    width: 13vw;
    top: 1300px;
    left: 0px;
    opacity: 0.75;

    animation-name: scale1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  div.dots_black {
    position: absolute;
    width: 8vw;
    top: 1600px;
    left: 10px;
  }
  div.dots_white {
    position: absolute;
    width: 8vw;
    top: 500px;
    right: 10px;
  }
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 9;
  min-height: 5rem;
  background-color: #000000;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
  justify-content: center;
  div.logo {
    flex: 5 1 400px;
    a {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      text-decoration: none;
      img {
        width: 5vw;
        height: 4vw;
        margin: 0.5rem 0.5rem;
      }
      h1 {
        font-size: 2.5rem;
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        margin: 0rem 0.5rem;
      }
    }
  }
  nav.horizontal {
    flex: 2 1 400px;
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      justify-content: space-evenly;
      li {
        flex-basis: 100px;
        margin: 0rem 1rem;
        &.two {
          flex-basis: 50px;
        }
        a {
          color: #979797;
          text-decoration: none;
          font-size: 1.5rem;
          transition: 0.2s ease-in;
        }
        a:hover {
          color: #ffffff;
          font-weight: bolder;
        }
      }
    }
  }
  nav.drop_down {
    display: none;
    ul.drop-down-menu {
      display: flex;
      position: static;
      background-color: rgba(0, 0, 0, 0.75);
      width: 100%;
      align-items: center;
      justify-content: center;
      li {
        padding: 1.5rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        img {
          width: 5vw;
        }
        width: 200px;
        ul {
          align-items: center;
          transition: all 1s ease-out;
          opacity: 0;
          height: 0;
          overflow: hidden;
          li {
            padding: 1rem 0rem;
            a {
              font-size: 1.5rem;
              text-decoration: none;
              color: #979797;
            }
          }
        }
      }
    }
  }
}

div.top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 30vw;
  width: 100%;
  background: rgb(136, 244, 255);
  background: linear-gradient(
    140deg,
    rgba(136, 244, 255, 1) 0%,
    rgba(220, 158, 197, 1) 28%,
    rgba(244, 134, 180, 1) 28%,
    rgba(157, 117, 205, 1) 72%,
    rgba(179, 121, 199, 1) 72%,
    rgba(89, 103, 224, 1) 100%
  );
  h1.intro {
    width: 85%;
    z-index: 3;
    font-size: 3rem;
    text-align: center;
    margin: auto;
    padding: 1rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    text-align: center;
    background-image: linear-gradient(to right, #9ab5ff 0%, #ffceff 100%);
    min-width: 10vw;
    border-radius: 50px;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 3rem 1rem 1rem 1rem;
  }

  p.Exp {
    z-index: 3;
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    margin: 0rem 1rem 5rem 1rem;
  }

  div.line {
    margin: 2rem 0rem 1rem 0rem;
    width: 80%;
    height: 5px;
    background: linear-gradient(
      140deg,
      rgba(220, 158, 197, 1) 0%,
      rgba(244, 134, 180, 1) 28%,
      rgba(157, 117, 205, 1) 72%,
      rgba(179, 121, 199, 1) 72%,
      rgb(125, 137, 245) 100%
    );
  }

  div.school_all {
    z-index: 1;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    justify-content: space-evenly;
    div.school {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        font-size: 1.4rem;
        text-align: center;
      }
      h5 {
        font-size: 1.25rem;
      }
    }
  }

  div.block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem 2rem 3rem 2rem;
    z-index: 5;
    div.block_ {
      text-align: center;
      width: 25vw;
      margin: 0rem 2.5rem;
      padding: 2rem;
      background: rgb(136, 244, 255);
      background: linear-gradient(
        140deg,
        rgba(136, 244, 255, 0.5) 0%,
        rgba(255, 190, 217, 0.5) 100%
      );
      // background-color: rgba($color: #ffffff, $alpha: 0.5);
      border-radius: 25px;
      h3 {
        font-size: 1.5rem;
        font-weight: bolder;
        color: #283a6b;
        margin-bottom: 0.5rem;
      }
      h4 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 1.25rem;
        margin: 0rem;
      }
    }
  }

  ul.skill {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    z-index: 3;
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem;
      padding: 1.25rem;
      border-radius: 25px;
      img {
        width: 5.5vw;
      }
      img.Adobe {
        width: 8vw;
      }
      h6 {
        margin-top: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
      }
      transition: 0.2s ease-in;
    }
    li:hover {
      transform: scale(1.2);
    }
  }
}

footer {
  background-color: #666666;
  width: 100%;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  div.logo {
    display: flex;
    align-items: center;
    margin: 2rem 0rem 1rem 0rem;
    img {
      width: 5vw;
      height: 4vw;
    }
    h1 {
      color: #ffffff;
      font-size: 2.5rem;
      font-family: "Montserrat", sans-serif;
      margin: 0rem 1rem;
    }
  }
  nav.foot {
    width: 40%;
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      display: flex;
      list-style-type: none;
      margin: 1rem 0rem;
      justify-content: center;
      li {
        text-align: center;
        flex-basis: 100px;
        margin: 0rem 1rem;
        a {
          font-family: "Poppins", sans-serif;
          color: white;
          text-decoration: none;
          font-size: 2rem;
        }
      }
    }
  }
  section.links {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.5rem 0rem 3rem 0rem;
    a {
      img {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    div.top {
      h1.intro {
        font-size: 2rem;
        margin: auto;
        padding: 1rem;
      }
    }
    main {
      div.block {
        flex-direction: column;
        align-items: center;
        div.block_ {
          width: 60%;
          margin: 1rem 1rem;
        }
      }
      ul.skill {
        flex-direction: row;
        justify-content: space-evenly;
        li {
          margin: 0.5rem;
          img {
            width: 10vw;
          }
          img.Adobe {
            width: 13vw;
          }
          h6 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    header {
      div.logo {
        h1 {
          font-size: 1.75rem;
        }
      }
    }
    div.top {
      h1.intro {
        font-size: 1.5rem;
        margin: auto;
        padding: 1.5rem;
      }
    }
    main {
      div.line {
        display: none;
      }
      div.school_all {
        flex-direction: column;
        div.school {
          margin-bottom: 1rem;
        }
      }

      div.block {
        flex-direction: column;
        align-items: center;
        div.block_ {
          width: 85%;
          margin: 1rem 1rem;
          p {
            font-size: 1rem;
          }
        }
      }
      ul.skill {
        flex-direction: column;
        li {
          margin: 0.5rem;
          img {
            width: 20vw;
          }
          img.Adobe {
            width: 25vw;
          }
          h6 {
            font-size: 1.5rem;
          }
        }
      }
      p.Exp {
        font-size: 1.2rem;
        text-align: start;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    header {
      div.logo {
        img {
          width: 12vw;
          height: 12vw;
        }
        h1 {
          font-size: 1.75rem;
        }
      }
      nav.horizontal {
        display: none;
      }
      nav.drop_down {
        display: block;
        ul.drop-down-menu li ul {
          transition: all 0.3s ease-in-out;
        }
        ul.drop-down-menu li:hover > ul {
          opacity: 1;
          height: auto;
        }
      }
    }

    footer {
      div.logo {
        display: flex;
        flex-direction: column;
        text-align: center;
        img {
          width: 15vw;
          height: 15vw;
        }
        h1 {
          font-size: 2rem;
        }
      }
      section.links {
        width: 75%;
        a {
          img {
            width: 10vw;
            height: 10vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  body {
    header {
      div.logo {
        a {
          h1 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@keyframes scale1 {
  from {
    scale: 1;
    filter: blur(5px);
  }
  to {
    scale: 1.2;
    filter: blur(2px);
  }
}

@keyframes scale2 {
  from {
    scale: 1;
    filter: blur(5px);
  }
  to {
    scale: 1.3;
    filter: blur(2px);
  }
}
