* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
body {
  header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 9;
    min-height: 5rem;
    background-color: #000000;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
    div.logo {
      display: flex;
      align-items: center;
      flex: 5 1 400px;
      margin-left: 1rem;
      img {
        width: 5vw;
        height: 4vw;
        margin: 0.5rem 0.5rem;
      }
      h1 {
        font-size: 2.5rem;
        font-family: "Futura Md BT";
        src: url(./Fonts/futur.ttf);
        color: #ffffff;
        margin: 0rem 0.5rem;
      }
    }
    nav {
      flex: 2 1 400px;
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-evenly;
        li {
          flex-basis: 100px;
          margin: 0rem 1rem;
          &.two {
            flex-basis: 50px;
          }
          a {
            color: #979797;
            text-decoration: none;
            font-size: 1.5rem;
            transition: 0.2s ease-in;
          }
          a:hover {
            color: #ffffff;
            font-weight: bolder;
          }
        }
      }
    }
  }
  div.dots_black {
    position: absolute;
    width: 8vw;
    top: 1000px;
    left: 10px;
  }
  div.dots_white {
    position: absolute;
    width: 8vw;
    top: 150px;
    right: 10px;
    z-index: 1;
  }
}

section.top {
  width: 100%;
  min-height: 780px;
  background: rgb(136, 244, 255);
  background: linear-gradient(
    140deg,
    rgba(136, 244, 255, 1) 0%,
    rgba(220, 158, 197, 1) 28%,
    rgba(244, 134, 180, 1) 28%,
    rgba(157, 117, 205, 1) 72%,
    rgba(179, 121, 199, 1) 72%,
    rgba(89, 103, 224, 1) 100%
  );
  position: relative;
  z-index: 0;

  img.round {
    position: absolute;
    width: 33vw;
    top: 45px;
    right: 220px;
  }
  div.object {
    position: absolute;
    top: 100px;
    left: 250px;
    h3 {
      font-family: "Futura Md BT";
      src: url(./Fonts/futur.ttf);
      font-size: 8rem;

      margin-bottom: 2rem;
      color: #000000;
    }
    button.start {
      background-image: linear-gradient(
        to right,
        rgba(136, 244, 255, 1) 0%,
        rgb(255, 184, 217) 50%,
        rgb(181, 247, 190) 100%
      );
      background-size: 200% auto;
      // position: absolute;
      // top: 700px;
      // left: 250px;
      color: rgb(0, 0, 0);
      padding: 1rem 3rem;
      font-size: 1.5rem;
      border-radius: 2rem;
      border: none;
      transition: 0.5s ease-in-out;
      cursor: pointer;
    }
    button.start:hover {
      background-position: right center; /* change the direction of the change here */
    }
  }
}

main {
  section.AboutMe {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    h4 {
      margin-top: 9rem;
      font-size: 6rem;
      font-family: "Futura Md BT";
      src: url(./Fonts/futur.ttf);
    }
    div.line {
      background-image: linear-gradient(to right, #a4efff, #ffceff);
      width: 50%;
      min-height: 6px;
      margin: 2rem 0rem 1rem 0rem;
    }
    p.AboutMe {
      font-size: 1.3rem;
      width: 60vw;
      margin: 0rem 2rem 5rem 2rem;
    }
    div.Hashtags {
      width: 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 10rem;
      div.hashtag {
        background-image: linear-gradient(to right, #a4efff, #b964ff);
        background-size: 150% auto;
        border-radius: 50px;
        padding: 0.3rem 2rem;
        margin: 0.8rem 1rem;
        transition: all 0.2s ease-in-out;
        h5 {
          font-size: 1.6rem;
        }
      }
      div.hashtag:hover {
        transform: scale(1.2);
        background-position: right center; /* change the direction of the change here */
      }
    }
  }
}

footer {
  background-color: #666666;
  width: 100%;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  div.logo {
    display: flex;
    align-items: center;
    margin: 2rem 0rem 1rem 0rem;
    img {
      width: 5vw;
      height: 4vw;
    }
    h1 {
      color: #ffffff;
      font-size: 2.5rem;
      font-family: "Futura Md BT";
      src: url(./Fonts/futur.ttf);
      margin: 0rem 1rem;
    }
  }
  nav.foot {
    width: 40%;
    ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      display: flex;
      list-style-type: none;
      margin: 1rem 0rem;
      justify-content: center;
      li {
        flex-basis: 100px;
        margin: 0rem 1rem;
        a {
          font-family: "Futura Md BT";
          src: url(./Fonts/futur.ttf);
          color: white;
          text-decoration: none;
          font-size: 2rem;
        }
      }
    }
  }
  section.links {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1.5rem 0rem 3rem 0rem;
    a {
      img {
        width: 4vw;
        height: 4vw;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  section.top {
    img.round {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 50vw;
    }
  }
}

@media screen and (max-width: 900px) {
  section.top {
    div.object {
      top: 100px;
      left: 100px;
      h3 {
        font-size: 6rem;
      }

      button.start {
        left: 100px;
      }
    }

    img.round {
      position: absolute;
      width: 60vw;
    }
  }
  main {
    section.AboutMe {
      h4 {
        font-size: 4rem;
      }
      p.AboutMe {
        font-size: 1.2rem;
      }
      div.Hashtags {
        width: 70%;
        div.hashtag {
          margin: 0.3rem 0.5rem;
          padding: 0.3rem 1rem;
          h5 {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    header {
      div.logo {
        img {
          width: 12vw;
          height: 12vw;
        }
        h1 {
          font-size: 1.75rem;
        }
      }
      nav {
        ul {
          flex-direction: column;
          li {
            flex-basis: 50px;
          }
        }
      }
    }
  }

  section.top {
    min-height: 480px;
    img.round {
      display: none;
    }
    div.object {
      top: 50px;
      left: 15vw;
      h3 {
        font-size: 5rem;
      }
    }
  }

  footer {
    div.logo {
      img {
        width: 15vw;
        height: 15vw;
      }
      h1 {
        font-size: 2rem;
      }
    }
    section.links {
      width: 75%;
      a {
        img {
          width: 10vw;
          height: 10vw;
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  body {
    header {
      div.logo {
        h1 {
          font-size: 1.75rem;
        }
      }
    }
  }
  section.top {
    min-height: 700px;
    div.object {
      top: 100px;
      left: 50px;
      h3 {
        font-size: 5rem;
      }
    }
  }
}
